@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?eqcan5');
  src:  url('fonts/icomoon.eot?eqcan5#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?eqcan5') format('truetype'),
    url('fonts/icomoon.woff?eqcan5') format('woff'),
    url('fonts/icomoon.svg?eqcan5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-envelope-o:before {
  content: "\f003";
}
.icon-check:before {
  content: "\f00c";
}
.icon-map-marker:before {
  content: "\f041";
}
.icon-phone:before {
  content: "\f095";
}
.icon-briefcase:before {
  content: "\f0b1";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-quote-right:before {
  content: "\f10e";
}
.icon-menu:before {
  content: "\e9bd";
}

@font-face {
  font-family: 'Roboto';
  src:  url('./fonts/Roboto-Regular.ttf') format('truetype'),
    url('./fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Rubik';
  src:  url('./fonts/Rubik-Regular.ttf') format('truetype'),
    url('./fonts/Rubik-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
