
/* Все мониторы меньше 1160px */
@media (max-width: 1160px){
    .services-items{
        display: block;
        /* width: 70%; */
    }
    .services-item{
        max-width: 80%;
        min-height: 290px;
        margin: 30px auto;
    }
}

/* Все мониторы меньше 850px */
@media (max-width: 850px){
    .services-top{
        display: block;
    }
    .services-title-box,
    .form-title-box{
        margin: 0 auto 30px;
    }
    .services-btn-cover{
        text-align: center;
    }

    /* FORM BOX */
    .form-box{
        background: none;
        padding-right: 0;
    }

    /* ADVANTAGES */
    .advantages-box{
        display: block;
    }
    .advantages-item{
        padding-bottom: 50px;
    }
}

/* Все мониторы меньше 700px */
@media (max-width: 700px){
    .header-contacts{
        text-align: center;
    }
    .header-btn{
        float: none;
        display: block;
    }

    .menu ul{
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        z-index: 50;
    }
    .menu li + li{
        padding-left: 0;
        border-top: solid 0.1px #fff;
    }
    .menu li{
        display: block;
        text-align: center;
    }
    .menu a{
        display: block;
        background-color: var(--akcent-color);
    }
    .header-menu-btn{
        display: block;
    }

    /* SERVICES */
    .services-item{
        max-width: 100%;
        margin: 20px auto;
    }

    .form-box-inner{
        display: block;
    }
    .form-box-left,
    .form-box-right{
        max-width: 100%;
    }
    .form-box-left{
        margin-bottom: 8px;
    }    
    .form-box-right{
        margin-bottom: 45px;
    }
    .form-box-right button{
        float: right;
        margin: 20px 0px 0px auto;
    }

    .footer-box{
        flex-direction: column;
        align-items: center;
    }
    .footer-box-about{
        margin: 0 auto 30px;
    }
}

/* Все мониторы меньше 400px */
@media (max-width: 400px){
    .header-contacts{
        display: block;
        text-align: center;
    }
    .header-phone{
        padding-top: 10px;
        padding-left: 30px;
        padding-right: 40px;
        line-height: 35px;
    }
    .header-email{
        padding-left: 30px;
        padding-right: 40px;
        padding-bottom: 10px;
        line-height: 35px;
    }

    /* SERVICES */
    .services-item{
        max-width: 100%;
        margin: 20px auto;
    }
}



/* Все мониторы больше 700px */
@media (min-width: 700px){
    .menu ul{
        display: block !important;
    }
}