@import './normalize.css';
@import './fonts.css';
@import '@plugins/select2-4.1.0-rc.0/dist/css/select2.min.css';
@import './busy.css';

:root{
    --purchase-selector-item-shadow-color: rgba(91, 89, 89, 0.14);
    --akcent-color: #ffc222;
    --granite-gray: #5e5e5e;
    --nero-color: #1b1b1b;
    --night-rider-color: #323232;
    --eclips-color: #373636;
    --light-grey-color: #D3D2D2;
    --dusty-grey-color: #A59393;
    --black-color: #050505;
    --whisper-color: #e6e6e6;
    --raw-umber: #5F480C;
}

/* Паддинги и бордеры всех элементов не изменяют размер элемента */
*{
    box-sizing: border-box;
}

a{
    text-decoration: none;      /* убираем подчеркивание */
    display: inline-block;
}

ul,
li{
    list-style: none;           /* убираем маркеры */
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1170px;
    margin: 0 auto;             /* сверху и снизу 0, по ширине центрируем */
    padding: 0 15px;            /* сверху и снизу 0, по бокам отступ 15px что бы не прилипал когда экран меньше штрины container */
}

body{
    /* font-family: 'Rubik', serif; */
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 18px;
    margin: 0 auto;
    color: var(--granite-gray);
    /* background-color: #323232; */
}

/* HEADER */
header{
    font-family: 'Rubik', serif;
}

.header-logo{
    /* background-image: url("../img/header-logo.png"); */
    background-size: contain;
    background-position: center center;
    background-color: transparent;
    background-repeat: no-repeat;
    /* width: 170px; */
    /* height: 30px; */
}

.header-top{
    background-color: var(--night-rider-color);
}

.header-phone,
.header-email{
    color: #cbcacb;
    letter-spacing: 0.25px;
    line-height: 45px;
    position: relative;
}

.header-phone:before{
    content: "\f095";
    font-family: 'icomoon';
    position: absolute;
    left: 0;
    color: var(--akcent-color);
}

.header-phone{
    padding-left: 20px;
    padding-right: 30px;
}

.header-email:before{
    content: "\f003";
    font-family: 'icomoon';
    position: absolute;
    left: 0;
    color: var(--akcent-color);
}

.header-email{
    padding-left: 20px;
}

.header-btn:before{
    content: "\f0b1";
    font-family: 'icomoon';
    position: absolute;
    left: 50%;
    transform: translateX(-700%);
    color: var(--nero-color);
}

.header-btn{
    float: right;
    position: relative;
    text-align: center;
    line-height: 35px;
    font-family: 'Rubik', serif;
    font-size: 16px;
    color: var(--nero-color);
    background-color: var(--akcent-color);
    padding: 5px 20px 5px 50px;
}


.header-contacts:after{
    content: '';
    clear: both;
    display: block;
}

.header-content{
    padding: 34px 0px 23px 0px;
}

.header-content-inner{
    display: flex;
    justify-content: space-between;
}

.header-logo-image{
    object-fit: contain;
    width: 170px;
    height: 30px;
}

.header-menu-btn{
    display: none;
    font-size: 35px;
    padding: 0 16px 0 0;
    cursor: pointer;
}
.menu li{
    display: inline-block;
}

.menu li + li{  /* паддинги между пугктами меню */
    padding-left: 10px;
}

.menu a{
    color: var(--night-rider-color);
    line-height: 36px;
    font-size: 16px;
    border: 1px solid transparent;
    padding: 0px 16px 0px 16px;
    transition: all 0.3s;       /* замедление появления и пропадания рамки */
}
.menu a:hover{
    border-color: var(--akcent-color);
}
.menu a:active{
    transition: all 0.1s;
    transform: scale(0.9);
}
.menu a:not(:active){
    transition: all 0.5s;
    transform: scale(1.0);
}

.default-btn-black{
    display: inline-block;
    z-index: 2;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Rubik', serif;
    line-height: 24px;
    color: var(--eclips-color);
    padding: 8px 30px 8px 24px;
    border: solid 1px var(--akcent-color);
    border-right-width: 20px;
    position: relative;
}
.default-btn-black:after{
    content: "\f105";
    font-family: "icomoon";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -12px;
    color: #fff;
}

.default-btn-white:active{
    transition: all 0.1s;
    transform: scale(0.9);
}
.default-btn-white:not(:active){
    transition: all 0.5s;
    transform: scale(1.0);
}
.default-btn-white{
    display: inline-block;
    z-index: 2;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Rubik', serif;
    line-height: 24px;
    color: #fff;
    padding: 8px 30px 8px 24px;
    border: solid 1px var(--akcent-color);
    border-right-width: 20px;
    position: relative;
}
.default-btn-white:after{
    content: "\f105";
    font-family: "icomoon";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -12px;
}

/* purchase-selector */
.purchase-selector{
    padding: 10px 0 30px;
}

.purchase-selector-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.purchase-selector-title-box{
    position: relative;
    /* max-width: 700px; */
    width: 100%;
    padding-left: 140px;
}

.purchase-selector-title{
    font-size: 24px;
    font-weight: 500;
    font-family: 'Rubik', serif;
    line-height: 24px;
    color: var(--nero-color);
    margin-bottom: 10px;
}

.purchase-selector-search{
    /* letter-spacing: 0.1px; */
    margin: 0 40px 0 0;
}
.search-purchase-select{
    width: 100%;
    padding-top: 12px;
    font-family: 'Rubik', serif;
    line-height: 24px;
    letter-spacing: 0.25px;
    padding: 5px 38px;
    white-space: nowrap;
    outline: none;
    /* height: 24; */
    border: solid 3px var(--whisper-color);
}
.search-purchase-select *:focus{
    outline: none;
}
.search_term_hilite{
    background-color: #ffc222;
}

.purchase-selector-btn-cover{
    margin-top: auto;
}
.purchase-selector-btn{
    font-family: 'Rubik', serif;
    line-height: 24px;
    letter-spacing: 0.25px;
    padding: 0px 38px;
    white-space: nowrap;
    /* height: 24; */
    border: solid 3px var(--whisper-color);
}

.purchase-selector-items{
    display: flex;
    justify-content: space-between;
}

.purchase-selector-item{
    position: relative;
    max-width: 360px;
    min-height: 375px;
    text-align: center;
    padding: 30px 0 80px;
    background-color: #f9f9f9;
    box-shadow: 0px 7px 24px 3px var(--purchase-selector-item-shadow-color);
}

/* PUTCHASE_TABLE */
table{
    table-layout: auto;
    width: 100%;
    border: none; 
    border-collapse: collapse;
}
table tr{
    border-top: solid #5e5e5e  0.1px;
    border-bottom: solid #5e5e5e  0.1px;
}
table th{
    text-align: center;
    white-space: nowrap;
    transform-origin: 50% 50%;
    transform: rotate(90deg);
}
table th,
table td{
    overflow: hidden;
    border-left: solid #5e5e5e  0.1px;
}
table th:first-child { border-left: solid #5e5e5e  0.1px; }
table th:last-child { border-left: solid #5e5e5e  0.1px; }
table td:first-child { border-left: solid #5e5e5e  0.1px; }
table td:last-child { border-left: solid #5e5e5e  0.1px; }

/* .id{width: 20px;}
.client-id{width: 10px;}
.client-group{width: 10px;}
.client-name{width: 10px;}
.client-phone{width: 10px;}
.client-account{width: 10px;}
.purchase_content-id{width: 10px;}
.product-id{width: 10px;}
.product-group{width: 10px;}
.product-name{width: 10px;}
.product-order_quantity{width: 10px;}
.count{width: 10px;}
.distributed{width: 10px;}
.product-primary_price{width: 10px;}
.product-primary_currency{width: 10px;}
.purchase_content-sale_price{width: 10px;}
.purchase_content-sale_currency{width: 10px;}
.purchase_content-shipping{width: 10px;}
.cost{width: 10px;}
.paid{width: 10px;}
.torefound{width: 10px;}
.refounded{width: 10px;} */

.purchase-item-title{
    color: var(--dusty-grey-color);
    line-height: 24px;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Rubik', serif;
    padding: 24px 40px;
}

.purchase-selector-item-text{
    letter-spacing: 0.1px;
    padding: 0px 40px 30px;
}

.purchase-selector-item-cover{
    position: absolute;
    bottom: 40px;
    margin: 0 auto;
}

.purchase-selector-item-link{
    color: var(--black-color);
    font-family: 'Rubik', serif;
    border-bottom: solid 1px var(--black-color);
    margin-right: 60px;
}

/* FOOTER */
.footer{
    background-color: var(--night-rider-color);
}

.footer-box{
    min-height: 400px;
    margin: 0 auto;
    padding: 20px 0 30px;
    display: flex;
    justify-content: space-between;
    color: var(--light-grey-color);
}
.footer-box-about{
    display: block;
    max-width: 360px;
    margin-right: 30px;
}
.footer-box-title{
    font-size: 16px;
    line-height: 36px;
    font-weight: 500;
    font-family: 'Rubik', serif;
    color: var(--whisper-color);
}
.footer-box-text{
    color: var(--granite-gray);
    margin-bottom: 20px;
}
.footer-box-contacts{
    padding-top: 10px;
}
.footer-box-contacts li{
    margin-top: 10px;
}
.footer-box-contacts a{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.25px;
    color: var(--whisper-color);
    font-weight: 400;
    font-family: 'Rubik', serif;
    padding-left: 33px;
}
.footer-box-phone:before{
    content: "\f095";
    font-family: 'icomoon';
    position: absolute;
    left: 3px;
    color: var(--akcent-color);
}
.footer-box-phone{
    position: relative;
}
.footer-box-email:before{
    content: "\f003";
    font-family: 'icomoon';
    position: absolute;
    left: 0;
    color: var(--akcent-color);
}
.footer-box-email{
    position: relative;
}
.footer-box-address:before{
    content: "\f041";
    font-family: 'icomoon';
    position: absolute;
    left: 3px;
    color: var(--akcent-color);
}
.footer-box-address{
    position: relative;
}
.footer-box-btn:before{
    content: "\f0b1";
    font-family: 'icomoon';
    position: absolute;
    left: 22px;
    color: var(--nero-color);
}
.footer-box-btn{
    float: none;
    display: inline-block;
    position: relative;
    line-height: 35px;
    font-family: 'Rubik', serif;
    font-size: 16px;
    white-space: nowrap;
    color: var(--nero-color);
    background-color: var(--akcent-color);
    padding: 5px 20px 5px 50px;
}


.footer-box-info{
    max-width: 650px;
    height: 100%;
    width: 100%;
    padding-top: 10px;
}
.footer-box-info-map{
    width: 100%;
    height: 350px;
}
.footer-box-info-map > div,
.footer-box-info-map iframe{
    width: 100%;
    height: 100%;
}

.footer-copyrights{
    line-height: 36px;
    background-color: var(--nero-color);
    font-family: 'Rubik', serif;
    font-weight: 400;
    text-align: center;
}
