/**
 * Body CSS
 */

html,
body {
  height: 100%;
}

html,
body,
input,
textarea,
button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}


/**
 * Sidebar CSS
 */

#sidebar {
  background-color: darksalmon;
  padding: 15px;
}

#calendar {
  background-color:darksalmon;
  padding: 10px;
  border:1px solid rgb(105, 105, 105);
}

@media (min-width: 768px) {
  #sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 230px;
    height: 100%;
    padding-top: 30px;
  }
  #calendar {
    /* position: fixed; */
    /* top: 0; */
    /* bottom: 0; */
    width: 200px;
    height: 200px;
    padding-top: 30px;
  }
}


/**
 * Content CSS
 */
@media (min-width: 768px) {
  #content {
    margin-left: 180px;
  }
}

.executor {
  font-size: 1.4rem;
  color: darkslategray;
}

#auth-btn {
  position: fixed;
  right: 20px;
  top: 5px;
}

#auth-btn > small {
  color: coral;
}

.modal-window {
  max-width: 600px;
  max-height: 500px;
  margin: 100px auto;
  overflow-y: auto;
  background: #fff;
}

.modal-window > h1 {
  text-align: center;
}

.modal-window .modal-window-content {
  padding: 1rem;
}

.error {
  color: red;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible, .collapsible-empty {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 8px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.collapsible-content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

/* MUI customising */
#mui-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999999;
  background-color: rgba(0,0,0,.7);
  backdrop-filter: blur(3px);
  overflow: auto;
}


/* USER NAVIGATOR */
.user-navigator {
  list-style-type: none;
  margin-top: 10px;
  padding: 0px 20px 0px 20px;
}
 
.user-navigator-item {
  font: 200 16px Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
  padding-top: 5px;
  padding-bottom: 5px;
}
 
.user-navigator-item:last-child {
  border: none;
}
 
.user-navigator-item > a {
  text-decoration: none;
  color: #000;
  display: block;
  width: 200px;
 
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}
 
.user-navigator-item > a:hover {
  font-size: 16px;
  background: rgba(191, 102, 73, 0.5);
}